@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

@import url('app/Templates/styles/navbar.css');
@import url('app/Templates/styles/slideshow.css');
@import url('app/Templates/styles/productcard.css');
@import url('app/Templates/styles/shoppingcart.css');

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100px;
}

.size-big{
    font-size: 50pt;
}

.size-medium{
    font-size: 30pt;
}

#appmaincontainer {
  margin: 0;
  padding: 0;
}

#navbar-functionality-separator {
  position: relative;
  top: -80px;
  height: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

#functionalitycontainer {
  position: relative;
  top: -70px;
  -webkit-text-fill-color: white;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

body {
  background-image: url(assets/images/background.jpg);
}

.loading-app-div
{ -webkit-text-fill-color: white;}

