<div>
    <nav class='navbar navbar-default navbar-static-top'>
        <div class='container-fluid'>
            <div class="navbar-header">
                <a class='navbar-brand'>{{PageTitle}}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class='nav navbar-nav'>
                    <li><a>Home</a></li>
                    <li><a>Products</a></li>
                    <li><a>About</a></li>
                </ul>
                <ul class='nav navbar-nav navbar-right'>
                    <li class="btn btn-primary btn-margin" *ngIf="!AuthService.isAuthenticated()" (click)="AuthService.login()">
                            Log In
                    </li>
                    <li class="btn btn-primary btn-margin" *ngIf="AuthService.isAuthenticated()" (click)="AuthService.logout()">
                            Log Out
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>