<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 product-card-container">
  <div class="container-fluid product-card"> 
    <div class="product-card-image" [style.background-image] ="trust(Image)"></div>
    <div class="container-fluid product-card-text-container ">
      <h4 class="col-xs-12 center-block">{{Name}}</h4> 
      <p id="product-card-description" class="col-xs-12">{{Description}}</p>
      <table class="col-xs-12">
        <tr>
          <td class="product-card-price col-xs-6">
            {{Price}} lei
          </td>
          <td class="col-xs-6">
            <a> + <div class="glyphicon glyphicon-shopping-cart"></div></a>
          </td>
        </tr>
      </table>
      

    </div>
  </div> 
</div>